<h1>List of users</h1>

<form action="/insert_user">
  <label for="browser_input">Username</label>
  <input id="browser_input" type="text" name="query_username" placeholder="Enter a username for the new User">

  <button>Add user</button>
</form>

<table border="1">
	<tr>
		<th>
			ID
		</th>

		<th>
			Username
		</th>
		<th>
	</tr>

	<% @list_of_users.each do |a_user| %>
		<tr>
			<td>
				<%= a_user.id %>
			</td>

			<td>
				<%= a_user.username %>
			</td>

			<td>
				<td><a href="/users/<%= a_user.username %>">Show details</a></td>
			</td>
	<% end %>
</table>
